.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-header h3 {
  font-size: 25px;
}

.modal-body {
  margin-bottom: 10px;
}

.resume-link {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 25px;
}

.copy-btn {
  background-color: #4d5636;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.copy-btn:hover {
  background-color: #6b7a4d;
}

.copy-btn:focus {
  outline: none;
}
